@import './../../variables.scss';

.dev-button {
    position: absolute;
    bottom: 1em;
    left: calc(50% - 50px);
    width: 100px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;

    .mdc-card {
        background-color: $tetiary-black;
        margin-bottom: 1em;
    }

    .plan-container {
        margin-right: 1em;
    }
}

.plan-container,
.news-container {
    flex: 1;
    height: 100%;
    overflow: auto;
}

.plan-container {
    background-color: $tetiary-green;
}

.title {
    text-align: center;
    font-size: 2em;
    line-height: 2em;
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: $secondary-green;
    border: 1px solid $primary-black;
    margin-inline: 1em;
    border-radius: 0em 0em 1em 1em;
}