<ng-container>
    @if(hasAccess(user, Permission.SUPER)){
    <button mat-raised-button (click)="onInfo()" class="dev-button">DevTools</button>
    }

    <div class="info">
        <div class="plan-container">
            <div class="title">Plany</div>
            <mat-card appearance="outlined">
                <mat-card-content>Dodawanie notek i faktur w szufladzie</mat-card-content>
                <mat-card-content>Potwierdzenia akcji</mat-card-content>
                <mat-card-content>Historia faktur</mat-card-content>
                <mat-card-content>Integracja z folderami klientów</mat-card-content>
                <mat-card-content>Integracja z fakturownią</mat-card-content>
                <mat-card-content>Uruchamianie nexo</mat-card-content>
                <mat-card-content>Lepsze filtry na głównym widoku</mat-card-content>
                <mat-card-content>Wbudowany czat</mat-card-content>
            </mat-card>
        </div>
        <div class="news-container">
            <div class="title">Nowości</div>
            <mat-card appearance="outlined">
                <mat-card-header>0.1.14</mat-card-header>
                <mat-card-content>kategorie na fakturach</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-header>0.1.13</mat-card-header>
                <mat-card-content>rozciąganie i przeciąganie okna</mat-card-content>
                <mat-card-content>dziesiejsza data przy grupowych funkcjach faktur</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-header>0.1.11</mat-card-header>
                <mat-card-content>Lista aktywnych zadań</mat-card-content>
                <mat-card-content>Poprawka zapisywania faktur</mat-card-content>
                <mat-card-content>Gradient dla zaznaczenia i wyboru</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-header>0.1.10</mat-card-header>
                <mat-card-content>Słowniki dla info kolumn</mat-card-content>
                <mat-card-content>Przypisywanie kroków do użytkownika</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-header>0.1.9</mat-card-header>
                <mat-card-content>Zbiorcza zmiana dat na fakturach</mat-card-content>
                <mat-card-content>Sortowanie PDF a'la Zalando</mat-card-content>
                <mat-card-content>Poprawka ułamków w kwocie faktury</mat-card-content>
                <mat-card-content>Dodana info kolumna 'płace'</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-header>0.1.8</mat-card-header>
                <mat-card-content>Kolejne wyniki wyszukiwania po naciśnięciu Enter</mat-card-content>
                <mat-card-content>Co jest grane na pasku windowsa</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-header>0.1.7</mat-card-header>
                <mat-card-content>Wyszukiwarka na szybko</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-header>0.1.6</mat-card-header>
                <mat-card-content>Porządki w uprawnieniach</mat-card-content>
                <mat-card-content>Tęczowe guziki marszu</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-header>0.1.5</mat-card-header>
                <mat-card-content>Widok z informacjami o aktualizacjach</mat-card-content>
                <mat-card-content>poprawka zapisywania faktur</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-header>0.1.4</mat-card-header>
                <mat-card-content>nie pokazuj cudzych notek</mat-card-content>
                <mat-card-content>notki nie psują stopera</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-header>0.1.3</mat-card-header>
                <mat-card-content>poprawa pamięci użytkownika</mat-card-content>
                <mat-card-content>skroll na widoku głównym</mat-card-content>
                <mat-card-content>zmiana marszu nie resetuje stopera</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-header>0.1.2</mat-card-header>
                <mat-card-content>marsz z datami</mat-card-content>
                <mat-card-content>więcej zielonego</mat-card-content>
                <mat-card-content>pamiętaj wybrane info kolumny</mat-card-content>
            </mat-card>
        </div>

    </div>
</ng-container>