@import './../../../variables.scss';

.view {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;

    .tabs {
        flex: 1 1 100%;
    }

    .absence-view {
        width: 100%;


    }

    .cards-view {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: start;
        margin-left: 1em;
        margin-top: 1em;
    }

    .inputs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 2rem;
        margin: 1em;

        .secondary-badge {
            position: relative;
            background-color: $app-yellow;
            color: white;
            padding: 2px 6px;
            border-radius: 50%;
            font-size: 12px;
            bottom: -15px;
            right: -25px;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
            gap: 1rem;

            .datepicker-container {
                margin-bottom: 1em;
            }
        }
    }

    .panel {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0 0.5rem;
        overflow-y: auto;
        max-height: calc(100vh - 64px - 188px - 32px); // adjust based on actual input height
        box-sizing: border-box;
        background-color: $tetiary-green;

        .row {
            display: flex;
            border-bottom: 1px solid #eee;
            padding: 0.5rem 0;

            &.matched {
                background-color: $secondary-green;
            }

            .cell {
                flex: 1;
                padding: 0 0.5rem;
                font-size: 0.9rem;
                word-break: break-word;
                max-height: 5em;
                overflow: auto;
            }

            &:first-child {
                font-weight: bold;
                background-color: $primary-white;
                position: sticky;
                top: 0;
                z-index: 1;
            }
        }
    }
}