<ng-container>
    @if (currentStep) {
    <div class="view">

        <div class="step-button">
            <button mat-stroked-button [matMenuTriggerFor]="leftMenu" #leftMenuTrigger="matMenuTrigger"
                (click)="$event.stopPropagation()" [ngClass]="getStepValueClass(currentStep.value)">
                {{currentStep.name}}
                @if (user?.id === currentStep.owner?.id) {
                <mat-icon>person</mat-icon>
                }
                @if (isDateStep) {<div class="status-bar">
                    {{currentDate | date: 'dd-MM-yyyy' : 'pl-PL' }}
                </div>}
            </button>
        </div>

        <div class="stopper">

            <button mat-icon-button aria-label="start" (click)="onStopper(); $event.stopPropagation()">
                @if (isRunning) {
                <mat-icon>stop_circle</mat-icon>
                } @else {
                <mat-icon>play_circle</mat-icon>
                }
            </button>

            <div class="time">
                @if (isRunning) {
                <div class="stopper-current">
                    {{currentTime | secondsToMMSSPipe}}
                </div>
                } @else {
                <div class="stopper-sum">
                    {{totalTime | secondsToMMSSPipe}}
                </div>
                }

            </div>

            <button mat-button (mouseup)="onFifteen($event); $event.stopPropagation()"
                (click)="$event.stopPropagation()">
                +/- 15
            </button>
        </div>

    </div>

    <mat-menu #leftMenu="matMenu">
        <div class="menu">
            <div class="step-values-container">
                @if (isDateStep) {
                <button mat-flat-button [matMenuTriggerFor]="myMenu" #menuTrigger="matMenuTrigger"
                    (click)="$event.stopPropagation();">
                    @if (currentDate) {
                    {{currentDate | date: 'dd-MM' : 'pl-PL' }}
                    } @else {
                    Wybierz datę
                    }
                </button>
                <mat-menu #myMenu="matMenu" #menu>
                    <div (click)="$event.stopPropagation();">
                        <mat-calendar style="width:15rem" #calendar panelClass="month-picker" [selected]="currentDate"
                            (selectedChange)="onDateSelected($event, menuTrigger)">
                        </mat-calendar>

                    </div>
                </mat-menu>
                }
                @else {
                @for(val of stepValues; track val){
                <div mat-menu-item (mouseup)="onStepValueSelected(val)">
                    <div class="round-gradient" [ngClass]="getStepDescriptionClass(val)">
                    </div>
                </div>
                }
                }
            </div>
            <div class="steps-container">
                @for(val of steps; track val) {
                <div mat-menu-item (mouseup)="onStepSelected(val)">
                    <div class="menu-step" [ngClass]="getStepValueClass(val.value)">
                        <div class="content"> {{val.name}}</div>
                    </div>
                </div>
                }
            </div>
        </div>

    </mat-menu>
    }

</ng-container>