.client-table {
    .detail-row {
        flex-basis: 0;
        min-height: initial;
    }

    .selected {
        background-color: burlywood;
    }
}

.toolbar {
    .spacer {
        flex: 1 1 auto;
    }
}