<ng-container>

  <mat-toolbar class="toolbar">
    <span>TOOL</span>
    <span class="spacer"></span>
    <ng-container>

      <button mat-icon-button [matMenuTriggerFor]="appMenu" #calTrigger="matMenuTrigger">
        <mat-icon>calendar_today</mat-icon>{{currentDate | date: 'MMM': undefined : 'pl-PL'}}
      </button>
      <mat-menu #appMenu="matMenu">
        <div (click)="$event.stopPropagation();">
          <mat-calendar startView="year" style="width:15rem" #calendar panelClass="month-picker"
            [selected]="currentDate" (monthSelected)="onCurrentDateSelected($event, calTrigger)"
            (viewChanged)="viewChangedHandler($event)">
          </mat-calendar>

        </div>
      </mat-menu>


    </ng-container>
  </mat-toolbar>

  <mat-table [dataSource]="clients" multiTemplateDataRows class="client-table">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nazwa </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="march">
      <mat-header-cell *matHeaderCellDef> Marsz </mat-header-cell>
      <mat-cell *matCellDef="let element" [cdkContextMenuTriggerFor]="march_menu">
        {{element.marchName}}
        <ng-template #march_menu>
          <div class="" cdkMenu>
            @for(step of getSteps(element); track step.title) {
            <button class="" cdkMenuItem>{{step.title}}</button>}
          </div>
        </ng-template>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expand">
      <mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row"
          (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          @if (expandedElement === element) {
          <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
          <mat-icon>keyboard_arrow_down</mat-icon>
          }
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element" [attr.colspan]="2">
        <div class="expanded-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <mat-form-field>
            <mat-label>March</mat-label>
            <mat-select matNativeControl required (selectionChange)="onMarchTemplateSelected($event.value)"
              [(value)]="element.marchName">
              @for(template of templates; track template.name) {
              <mat-option [value]="template.name">{{template.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['name']; sticky: true"></mat-header-row>
    <mat-row (click)="selection.toggle(element)" *matRowDef="let element; columns: ['name', 'expand', 'march'];"
      [class.selected]="selection.isSelected(element)" [class.expanded-row]="expandedElement === element">
    </mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></mat-row>
  </mat-table>
</ng-container>