.client-table {
    .detail-row {
        flex-basis: 0;
        min-height: initial;
    }

    .selected {
        background-color: burlywood;
    }
}

.march-menu-container {
    background-color: indianred;
    .march-menu-item {
        
        width: 5em;
        height: 2em;
        display: block;
    }

    .march-green {
        background-color: aquamarine;
    }

    .march-yellow {
        background-color: darkkhaki;
    }
}

.toolbar {
    .spacer {
        flex: 1 1 auto;
    }
}