@import './../../variables.scss';

.client-table {

    .cdk-header-row {
        background-color: $primary-green;
    }

    .detail-row {
        flex-basis: 0;
        min-height: initial;
    }

    .selected {
        background-color: burlywood;
    }

    .cdk-row:not(.detail-row) {
        height: 120px;
    }

    .mat-mdc-row .mat-mdc-cell {
        // border-right: .1px dotted $tetiary-black;
        // cursor: pointer;
    }
}

.march-filter-button {
    margin-left: 2em;
}

.march-menu-container {
    background-color: indianred;

    .march-menu-item {
        width: 5em;
        height: 2em;
        display: block;
    }

    .march-green {
        background-color: aquamarine;
    }

    .march-yellow {
        background-color: darkkhaki;
    }
}

.toolbar {


    .calendar-button {
        margin-right: 5px;
    }

    .spacer {
        flex: 1 1 auto;
    }


}

.danger {
    color: $primary-red !important;
}

.column-menu {
    background-color: $secondary-black;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: solid 1px $primary-black;
}


// .mat-column-marchValues {
//     flex: 0 0 20%;
// }