<div class="view">
    <div class="edit-container">
        @if (currentStopper) {
        <mat-form-field>
            <mat-label>Czas w sekundach</mat-label>
            <input matInput [(ngModel)]="currentStopper.seconds" #secondsInput="ngModel" type="number"
                placeholder="Czas w sekundach" (keyup.enter)="onStopperSave()">
        </mat-form-field>
        <button mat-fab (mouseup)="onFifteen($event); $event.stopPropagation()" (click)="$event.stopPropagation()">
            +/- 15min
        </button>
        <button mat-fab (click)="onStopperSave()" class="icon-button" [ngClass]="{'dirty': secondsInput.dirty}">
            <mat-icon>save</mat-icon>
        </button>
        }
    </div>
    <div class="stoppers-container">
        @if(getStoppers().length === 0) {
        <div class="stopper-block">
            Brak zarejestrowanych stoperów.
        </div>
        }
        @for(stopper of getStoppers(); track stopper.id) {

        <button mat-raised-button class="stopper-block" (click)="onStopperSelect(stopper); $event.stopPropagation()"
            [ngClass]="{'selected': stopper.id === currentStopper?.id}">
            <span class="stopper-field">{{stopper.name}} </span>
            <span class="stopper-field">{{stopper.createdAt | date:'yyyy-MM-dd'}} </span>
            <span class="stopper-field">{{stopper.seconds | secondsToMMSSPipe}}</span>
        </button>
        }

    </div>