<form [formGroup]="form" (ngSubmit)="onSubmit()" class="overlay-container">
  <div *ngFor="let column of allInfoColumns" class="line">
    <mat-form-field>
      <mat-label>{{column}}</mat-label>
        <input matInput [placeholder]="column" [formControlName]="column" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of descriptionValues[column]; track option) {
          <mat-option [value]="option.text">{{option.text}}</mat-option>
          }
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <button mat-raised-button type="submit">Zapisz</button>
</form>