<div id="view">
    <button mat-fab [matMenuTriggerFor]="menu" class="copy-button">
        <mat-icon>
            edit_square
        </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        @for(template of clients; track template.name){
        <button mat-menu-item (click)="onCopy(template)">
            <span>{{template.name}}</span>
        </button>}
    </mat-menu>

    <form id="marchForm" [formGroup]="marchForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field class="name-field">
            <mat-label>Nazwa</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <button mat-fab color="primary" aria-label="Add" (click)="addStep()" type='button' class="plus-button">
            <mat-icon>add</mat-icon>
        </button>
        <div formArrayName="steps">
            <div *ngFor="let step of steps.controls; let i=index" [formGroupName]="i" class="step-container">
                <mat-form-field>
                    <mat-label>Czynność</mat-label>
                    <input matInput formControlName="name" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        @for (option of descriptionValues; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let type of stepTypes" [value]="type">{{ type }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Waga</mat-label>
                    <input matInput type="number" formControlName="weight">
                </mat-form-field>
                <div class="button-container">
                    <button mat-icon-button (click)="removeStep(i)" type='button'>
                        <mat-icon>remove</mat-icon>
                    </button>
                    <button mat-icon-button (click)="moveStepUp(i)" [disabled]="i === 0" type='button'>
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                    <button mat-icon-button (click)="moveStepDown(i)" [disabled]="i === steps.controls.length - 1"
                        type='button'>
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <button mat-raised-button color="primary" type="submit" class="save-button">Zapisz</button>
    </form>
</div>