#view {
    width: 100%;
    height: 100%;

    background-color: bisque;
}

.step-container {
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
    align-items: center;
}