/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-calendar-period-button {
    pointer-events: none;
    display: none;
}

.mat-calendar-arrow.mat-calendar-invert {
    display: none;
}

.mat-mdc-tab-body-wrapper {
    flex-grow: 1;
}