<form id="invoiceForm" [formGroup]="invoiceForm">
    <mat-form-field>
        <input matInput placeholder="numer" formControlName="no">
    </mat-form-field>
    <div formArrayName="lines">
        <div *ngFor="let line of lines.controls; let i = index" [formGroupName]="i">
            <input formControlName="id" type="hidden" />
            <mat-form-field>
                <input matInput placeholder="Kwota" formControlName="price">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Ilość" formControlName="qtty">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Opis" formControlName="description">
            </mat-form-field>
            <button mat-icon-button color="warn" (click)="removeInvoiceLine(i)">usun</button>
        </div>
    </div>
    <button mat-icon-button color="primary" (click)="addInvoiceLine()" type="button"> + </button>
    <button mat-button (click)="onSave()">Zapisz</button>
</form>