<button mat-raised-button [matMenuTriggerFor]="clientMenu"> Edytuj </button>
<button mat-raised-button (click)="onNew()"> Nowy </button>
<button mat-raised-button (click)="onFakturownia()"> Synchronizuj z fakturownią </button>

<form id="marchForm" [formGroup]="form">
    <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput formControlName="id" readonly>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nazwa</mat-label>
        <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nip</mat-label>
        <input matInput formControlName="nip">
    </mat-form-field>
    <mat-checkbox formControlName="isActive">Aktywny</mat-checkbox>
</form>

<button mat-raised-button (click)="onSave()" [disabled]="!form.valid">Zapisz</button>

<mat-menu #clientMenu="matMenu">
    @for(client of clients; track client.id) {
    <button mat-menu-item (click)="onEdit(client)">
        <span>{{client.name}}</span>
    </button>
    }
</mat-menu>