<div class="button-container">
    <button mat-raised-button [matMenuTriggerFor]="clientMenu"> Edytuj </button>
    <button mat-raised-button (click)="onNew()"> Nowy </button>
    <button mat-raised-button (click)="onFakturownia()"> Synchronizuj z fakturownią </button>
</div>


<form id="marchForm" [formGroup]="form" class="client-form">
    <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput formControlName="id" readonly>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nazwa</mat-label>
        <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nip</mat-label>
        <input matInput formControlName="nip">
    </mat-form-field>
    <mat-checkbox formControlName="isActive" class="big-checkbox">Aktywny</mat-checkbox>


</form>
<div class="button-container">
    <button mat-raised-button (click)="onSave()" [disabled]="!form.valid">Zapisz</button>
</div>

<mat-menu #clientMenu="matMenu">
    @for(client of clients; track client.id) {
    <button mat-menu-item (click)="onEdit(client)">
        <span>{{client.name}}</span>
    </button>
    }
</mat-menu>