.sidenav-container {
    height: 100%;
}

.sidenav-content {
    margin-left: 150px !important;
}

.open-button {
    width: 100%;
}

.sidenav-nav {
    .report-name {
        min-width: 150px;
        max-width: 150px;
    }
}