.sidenav-container {
    height: 100%;
}

.sidenav-content {
    margin-left: 150px !important;
}

.open-button {
    width: 100%;
}

.sidenav-nav {
    width: 150px;
}

.center-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}