@import "./../../variables.scss";

.view {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $primary-green;
}

.content {
    flex: 1;
    background-color: $primary-green;
}

.open-button {
    width: 100%;
}