@import './../../../variables.scss';

.view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: start;
}



.note-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    width: 100%;
    overflow: hidden;

    .note-button {
        width: 100%;
        max-width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
    }

    .mdc-button__label {
        display: block;
        max-width: 100%;
        overflow: hidden;
    }

    .note-button-text {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
    }
}

.add-button {
    width: 32px;
    height: 32px;
}

.pinned {
    background-color: $primary-green;
}

.danger {
    background-color: $primary-red;
}

.note-area {
    width: 400px;
    min-height: 100px;
    font-size: larger;
}

.due-date-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 1em;
    margin-bottom: 1em;
}

.note-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.5em;

    .note-user-select {
        color: $primary-white;
        margin-left: .5em;
    }
}