@import './../../../variables.scss';

.view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: start;
}

.note-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-left: 1em;
}

.note-button {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 130px;
}

.add-button {
    width: 32px;
    height: 32px;
}

.pinned {
    background-color: $primary-green;
}

.danger {
    background-color: $primary-red;
}

.note-area {
    width: 290px;
}