<div class="view">
    <div class="inputs">
        <div class="input-container">
            <button type="button" mat-raised-button (click)="mtInput.click()" matBadge="{{mt940File.length}}">Wybierz
                pliki z PKO</button>
            <input hidden id="clients-input" type="file" accept=".txt" (change)="onMtFileSelected($event)" #mtInput
                multiple>

        </div>
        <div class="input-container">
            <button type="button" mat-raised-button (click)="clientsInput.click()" matBadge="{{clients.length}}">Wybierz
                plik z zestawieniem</button>
            <input hidden id="clients-input" type="file" accept=".xlsx" (change)="onClientsFileSelected($event)"
                #clientsInput>
            @for(c of clientsColumns; track c) {
            <mat-form-field appearance="outline">
                <mat-label>{{c.label}}</mat-label>
                <input matInput type="text" [(ngModel)]="clientsColumns[$index].value" (blur)="parseClientsFile()">
            </mat-form-field>
            }

        </div>
        <div class="input-container">
            <button type="button" mat-raised-button (click)="transactionsInput.click()"
                matBadge="{{transactions.length}}">Wybierz plik z
                wyciągiem</button>

            <input hidden id="accounts-input" type="file" accept=".csv" (change)="onTransactionsFileSelected($event)"
                #transactionsInput>
            <mat-form-field appearance="outline">
                <mat-label>Do pominięcia</mat-label>
                <input matInput type="number" [(ngModel)]="ommit" (change)="parseTransactionsFile()">
            </mat-form-field>
            @for(c of transactionColumns; track c) {
            <mat-form-field appearance="outline">
                <mat-label>{{c.label}}</mat-label>
                <input matInput type="number" [(ngModel)]="transactionColumns[$index].value"
                    (change)="parseTransactionsFile()">
            </mat-form-field>
            }
        </div>
        <div class="input-container">
            <button type="button" mat-raised-button (click)="onSwap()">Podmień</button>
            <button type="button" mat-raised-button (click)="onDownload()">Pobierz</button>
        </div>

    </div>
    <div class="preview">
        @if(mt940File.length){
        <div class="panel">
            <div class="row">
                <span class="cell">Desc</span>
                <span class="cell">Name</span>
                <span class="cell">Bank</span>
                <span class="cell">Ref</span>
            </div>
            @for(row of mt940File; track row.description) {
            <div class="row" [ngClass]="{'matched': row.matched}">
                <span class="cell">{{row.description}}</span>
                <span class="cell">{{row.name}}</span>
                <span class="cell">{{row.bank}}</span>
                <span class="cell">{{row.ref}}</span>

            </div>
            }
        </div>
        }
        @if(clients.length) {
        <div class="panel">
            <div class="row">
                <span class="cell">Nazwa</span>
                <span class="cell">Nr faktury</span>
            </div>
            @for(c of clients; track c.no) {
            <div class="row">
                <span class="cell">{{c.name}}</span>
                <span class="cell">{{c.no}}</span>
            </div>
            }
        </div>
        }
        @if(transactions.length){
        <div class="panel">
            <div class="row">
                <span class="cell">Tytuł</span>
                <span class="cell">Konto</span>
                <span class="cell">Kwota</span>
                <span class="cell">Data</span>
                <span class="cell">Nr Faktury</span>
                <span class="cell">REF</span>
            </div>
            @for(t of transactions; track t.title) {
            <div class="row" [ngClass]="{'matched': t.matched}">
                <span class="cell">{{t.title}}</span>
                <span class="cell">{{t.account}}</span>
                <span class="cell">{{t.amount}}</span>
                <span class="cell">{{t.date}}</span>
                <span class="cell">{{t.no}}</span>
                <span class="cell">{{t.ref}}</span>
            </div>
            }
        </div>
        }
    </div>
</div>