.form-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 4px;
    margin: 1em;
    padding: 1em;

    .section-title {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .form-line {
        display: flex;
        gap: 4px;
    }

    border: 1px solid black;
}

.user-line {
    display: inline;
    margin-right: 1em;
}
