@import '../../../variables.scss';

.form-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: 4px;
    margin: 1em;
    padding: 1em;

    .section-title {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .form-line {
        display: flex;
        gap: 4px;
    }

    border: 1px solid black;

    &.header-section {
        flex-direction: row;
        align-items: center;
    }

    mat-form-field.name-input {
        flex: 2;
        max-width: 30%;
    }
}

.user-line {
    display: inline;
    margin-right: 1em;
}

.mat-expansion-panel-header {

    .bar {
        position: absolute;
        width: 100%;
        height: 8px;
        background-color: $primary-black;
        bottom: 0;
    }

    .bar-red {
        background-color: $app-red;
    }
    .bar-green {
        background-color: $app-green;
    }
    .bar-yellow {
        background-color: $app-yellow;
    }
}