.container {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;

    .icon-container {
        height: 24px;
        margin: 1em 0px;
    }

    .lines-container {
        flex: 1;

        mat-form-field {
            max-width: 150px;
        }
    }
}