<div class="container">
    <button mat-icon-button (click)="onEdit()">
        <mat-icon>{{ monthly.invoices[0] ? 'edit': 'add' }}</mat-icon>
    </button>

    @if(monthly.invoices[0]) {
    <div class="checkbox-container">
        <div class="icon-container">
            <mat-icon [ngStyle]="{'color': !monthly.invoices[0].paidDate ? 'red' : 'white'}">paid</mat-icon>
        </div>
        <div class="icon-container">
            <mat-icon [ngStyle]="{'color': !monthly.invoices[0].sendDate ? 'red' : 'white'}">send</mat-icon>
        </div>
    </div>

    <div class="cat-container">
        <div class="line">
            <div class="value-block">
                <div class="cat">Księgowość</div>
                <div class="value">{{ sumCat1 | number:'1.2-2' }}</div>
                
            </div>
        </div>
        <div class="line">
            <div class="value-block">
                <div class="cat">Kadry</div>
                <div class="value">{{ sumCat2 | number:'1.2-2' }}</div>
                
            </div>
        </div>
    </div>


    }

</div>