<div class="container">
    <button mat-icon-button (click)="onEdit()">
        <mat-icon>{{ monthly.invoices[0] ? 'edit': 'add' }}</mat-icon>
    </button>

    @if(monthly.invoices[0]) {
    <div class="checkbox-container">
        <div class="icon-container">
            <mat-icon [ngStyle]="{'color': !monthly.invoices[0].paidDate ? 'red' : 'white'}">paid</mat-icon>
        </div>
        <div class="icon-container">
            <mat-icon [ngStyle]="{'color': !monthly.invoices[0].sendDate ? 'red' : 'white'}">send</mat-icon>
        </div>
    </div>

    <div class="lines-container">
        <div *ngIf="monthly.invoices[0].lines[0]" class="line">{{monthly.invoices[0].lines[0].description}}(
            {{monthly.invoices[0].lines[0].price}})</div>
        <div *ngIf="monthly.invoices[0].lines[1]" class="line">{{monthly.invoices[0].lines[1].description}}( -
            {{monthly.invoices[0].lines[1].price}})</div>
    </div>


    }

</div>