@import './../../../variables.scss';

.overlay-container {
    padding: 1em;
    background-color: $tetiary-green;
    border-radius: 1em;
}

.line {
    margin-top: 1em;
}

button {
    margin-top: 1em;
}