<div class="view">
    @if(!(isLogin || isMinimized)) {
    <div class="menu-bar">
        <div class="button-container">
            <button mat-fab aria-label="home" routerLink="/home">
                <mat-icon>home</mat-icon>
            </button>
        </div>
        <div class="button-container">
            <button mat-fab aria-label="reports" routerLink="/reports">
                <mat-icon>summarize</mat-icon>
            </button>
        </div>
        <div class="button-container">
            <button mat-fab aria-label="settings" routerLink="/settings">
                <mat-icon>settings</mat-icon>
            </button>
        </div>
        <div class="button-container">
            <button mat-fab aria-label="minimize" (click)="onMinimize()" routerLink="/minimal">
                <mat-icon>minimize</mat-icon>
            </button>
        </div>
        <div class="spacer"></div>
        <div class="button-container ">
            <button mat-fab aria-label="close" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    }
    <div class="outlet">
        <router-outlet></router-outlet>
    </div>

</div>