$primary-green: #02514B;
$secondary-green: #A7EFC3;
$tetiary-green: #DBF7E7;

$primary-black: #212121;
$secondary-black: #424242;
$tetiary-black: #595959;

$primary-white: #f7f7f7;

$primary-red: #E35151;

$app-red: #E35151;
$app-yellow: #CF992B;
$app-green: #02514B;

$background-green: #02514B;