<ng-container>
    @if (currentStep) {
    <button mat-button [matMenuTriggerFor]="leftMenu" #leftMenuTrigger="matMenuTrigger"
        (click)="$event.stopPropagation()" (contextmenu)="onRightClick($event)"
        [ngClass]="getStepValueClass(currentStep.value)">
        {{currentStep.name}}
        <div class="menu-hook" [matMenuTriggerFor]="rightMenu" #rightMenuTrigger="matMenuTrigger"></div>
    </button>

    <button mat-icon-button aria-label="start" (click)="onStopper(); $event.stopPropagation()">
        @if (isRunning) {
        <mat-icon>stop_circle</mat-icon>
        } @else {
        <mat-icon>play_circle</mat-icon>
        }
    </button>

    <div class="time">
        <div class="stopper-current">
            {{currentTime | secondsToMMSSPipe}}
        </div>

        <div class="stopper-sum">
            {{totalTime | secondsToMMSSPipe}}
        </div>
    </div>

    <button mat-button (mouseup)="onFifteen($event); $event.stopPropagation()" (click)="$event.stopPropagation()">
        +/- 15
    </button>

    <mat-menu #leftMenu="matMenu">
        @for(val of stepValues; track val){
        <div mat-menu-item (mouseup)="onStepValueSelected(val)">
            <div class="round-gradient" [ngClass]="getStepDescriptionClass(val)">
                <div class="content"> {{getStepDescription(val)}}</div>
            </div>
        </div>
        }

    </mat-menu>

    <mat-menu #rightMenu="matMenu">
        @for(val of steps; track val) {
        <div mat-menu-item (mouseup)="onStepSelected(val)">
            <div class="round-gradient" [ngClass]="getStepDescriptionClass(val.value)">
                <div class="content"> {{val.name}}</div>
            </div>
        </div>
        }

    </mat-menu>
    }

</ng-container>